h1 {
    font-family: Segoe UI ;
    font-size:4em;
    color: blue;
}

#heli1 {
            display: block;
            right: 0px;
            position: absolute;
            top: 175px;
            height: 80px;
            width: 150px;
        }
        
#car {
            display: block;
            right: 0px;
            position: absolute;
            top: 350px;
            height: 80px;
            width: 150px;
        }    
        
        
#cancelled{
    display: block;
    position:absolute;
    left: 400px;
    top:200px;
   }
   
   
#start{
    display: block;
    position:absolute;
    left: 400px;
    top:200px;
   }