* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

img{

    background-color:#db3333;

}

button {
    color:white;
    border:hidden;
    background-color:#db3333;
   height:auto;
   width:auto;
   margin-left:1%;
}

button:hover{
    cursor:pointer;
    color:#db3333;
    border:hidden;
    background-color:white;
}

textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    user-select: text;
    flex-direction: column;
    resize: vertical;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2%;
}

.flex-container1 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 20%;
    background-color:#44525f;
}

.flex-container2 {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 80%;
    background-color:#44525f;
}

.flex-item1 {
    background-color:#db3333;
   }

.flex-item2 {
    background-color:#db3333;
   
}

.flex-item3 {
    background-color:#db3333;
    width:37%;
    height: 80%;
   margin-top:0.8%;
   margin-left: 1.5%;
}

.flex-item4 {
    background-color:#db3333;
    

}


.flex-item5 {
    background-color:#db3333;
    width:75.5%;
    height: 95%;
   margin-top:0.8%;
   margin-left: 1.5%;
}

.new-folder{
   margin-top:1%;
   margin-left: 2%;
    
}

#editor-icons{
   padding-top:3%;
   padding-left:2%;
}

#testVerkenner{
    width: 20%;
    height: 80%;
   margin-top:0.8%;
   margin-left: 1.5%;
}

#testFolder{
    width: 37%;
    height: 80%;
   margin-top:0.8%;
   margin-left: 1.5%;

}

#testExplorer{
 width: 20%;
    height: 95%;
   margin-top:0.8%;
   margin-left: 1.5%;

}

.verkenner-icons{
    margin-top: 11%;
    padding-left: 2%;
    
}

.verkenner-icons:hover{
    cursor:pointer;
    
}

#folder:hover{
    
    cursor: pointer; 
}

#folderlabel {
    color: #fff;
    font-size: 2vh;
}

#verkenner {
   float: left;
  padding-left: 3%;
  font-size: 3vh;
  color:#fff;
    
}

#list {
   padding-top: 10%; 
   padding-left: 3%;
   font-size: 2vh;
  color:#fff;    
    
}

#user-profile h1 {
  float: left;
  padding-top: 6%; 
  padding-left: 2%;
  font-size: 5vh;
  color:#fff;
}

#user-profile img {
    padding-top: 4%;
    padding-left: 2%;
    width: 16%;
        float: left;
}


#signin-button , #signout-button{
      background-color: #db3333;
    border: none;
    color: white;
    padding: 1.5% 1.5%;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 2vh;
    margin-top: 7.5%;
    margin-right: 2%;
    float: right;
   
}

#signin-button:hover, #signout-button:hover {
    background-color:#fff;
    color: #db3333;
    cursor: pointer;
}

#createFolderButton , #deleteFolderButton ,#renameFolderButton{
    
     background-color: #db3333;
    border: none;
    color: white;
    padding: 1% 1%;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 2vh;
    
    margin-right: 2%;
    
}

#createFolderButton:hover, #deleteFolderButton:hover {
   background-color:#fff;
    color: #db3333;
    cursor: pointer; 
    
}

#editor ,#editortemplate {
    height: 30em;
    width: 100%;
    float: left;
    background-color: white;
    padding-top:1%;
}

#editor textarea {
    width: 80%;
   
}

#editor .command-panel {
    height: 20%;
    width: 100%;
    background-color: #010101 /* Lamp black */
}

#explorer {
    height: 100%;
    /*width: 100%;*/
    /*float: right;*/
    overflow-y: auto;
    background-color: #db3333;
}

#explorer ul {
    margin: 0 1em 0 1em;
}

#currentFolderName{

    margin-top:5%;
    margin-left:3%;
    background-color: #db3333;
    border:hidden;
    float:left;
    color:white;
    font-size:4vh;

}

